:root {
  --color-bg: #253334;
  --color-main: #ffffff;
  --color-button-bg: #7c9a92;
}

body {
  min-height: 100vh;
  font-family: 'Alegreya', serif;
  background-color: var(--color-bg);
  color: var(--color-main);
}
